BasedOnStyle: LLVM
ColumnLimit: 180
IndentWidth: 4
AccessModifierOffset: -4
BreakConstructorInitializers: BeforeComma
IndentCaseLabels: true
MaxEmptyLinesToKeep: 1
AllowShortFunctionsOnASingleLine: Empty
BreakTemplateDeclarations: Yes
AlignEscapedNewlines: Left
IndentRequiresClause: true
MacroBlockBegin: "SLATE_BEGIN_ARGS|BEGIN_SHADER_PARAMETER_STRUCT"
MacroBlockEnd: "SLATE_END_ARGS|END_SHADER_PARAMETER_STRUCT"
StatementMacros:
  [
    "UPROPERTY",
    "UFUNCTION",
    "UCLASS",
    "USTRUCT",
    "UENUM",
    "UINTERFACE",
    "GENERATED_BODY",
  ]
IncludeCategories:
  - Regex: '.*\.generated\.h'
    Priority: 100
  - Regex: ".*(PCH).*"
    Priority: -1
  - Regex: '".*"'
    Priority: 1
  - Regex: '^<.*\.(h)>'
    Priority: 3
  - Regex: "^<.*>"
    Priority: 4
